<form id="{{:formId}}" class="formBuilderPlus form-horizontal" >
  {{for inputFieldArray}}
    <div class="form-group"><label class="col-sm-4 control-label" label-required="*">{{:fieldDisplyLabel}}</label>
        <div class="col-sm-8">
            <li class="dropdown" style="list-style-type:none;"><input type="{{:type}}" class="formBuilderPlus-input form-control" id="{{:name}}-input" name="{{:name}}" [if currentInput.{{:name}}] value=[@currentInput.{{:name}}][|if] autocomplete="off">
                <ul id="{{:name}}-input-sugggest" class="suggest-menu dropdown-menu" style="z-index:1000">
                    [for suggestions]
                    <li><a class="suggestion" id="firstName-[@#index]" href="#">[@{{:name}}]</a></li>
                    [|for]
                </ul>
            </li>
        </div>
    </div>
    {{/for}}
    {{if otherFormGroupTypesHtml}}{{:otherFormGroupTypesHtml}}{{/if}}
    <button type="button" id="{{:formButtonId}}-clear" class="btn-danger {{:formButtonClasses}}">Clear</button>
    <button type="button" id="{{:formButtonId}}" class="btn-success {{:formButtonClasses}}">{{:formButtonName}}</button>
  </form>
