<div id="otherTestsPanel" class="panel panel-default">
  <div class="panel-heading">Other Tests</div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="docUrl" class="col-sm-4 control-label">Test Sign And Send iFrame Modal</label>
        <div class="col-sm-8">
         <!--  <input type="text" class="signer-input form-control" id="snsUrl" placeholder="" value="https://demo.docusign.net/Member/StartInSession.aspx?StartConsole=1&t=2fcead76-80b5-4852-b4e0-01fe873fce65&DocuEnvelope=ac61908f-6385-4951-8e91-20e2b0226614&send=1"> -->

          <input type="text" class="signer-input form-control" id="snsUrl" placeholder="" value="">

          
        </div>
      </div>
      <div class="form-group">
        <label for="docUrl" class="col-sm-4 control-label">Test Customize iFrame Modal</label>
        <div class="col-sm-8">
          <input type="text" class="signer-input form-control" id="customizeUrl" placeholder="" value="">
        </div>
      </div>
      <button id="test1" type="button" class="btn btn-default pull-right">Sign And Send</button>
      <button id="test2" type="button" class="btn btn-default pull-right">Customize And Send</button>

    </form>
  </div>
</div>
